/* navbar */

.navbar button{
    text-decoration: none;
    color: #000;
}
.navbar button:hover{
    color: #1BAE70
}

.heading-hr{
    border: 0;
}

.list li {
    font-size: 18px;
}

#main{
    padding: 290px 0; 
}

.list hr{
    border: 2px solid green;
    width: 40%;
}

section{
    padding: 50px 0;
}

.contact-main{
    background: #F4F6F4;
}

.btn-success{
    color: #1BAE70;
}

.heading {
    color: #1BAE70
}

.heading-paragraph{
    padding: 0 20%;
    text-align: center
}

.highlight {
    color: #14261C
}

p{
    font-size: 18px;
}

.contact-form input{
    padding: 13px 8px;
    margin: 7px 0;
    font-size: 18px;
    border: 0.5px solid #dfdfdf;
}

/* Amenities Section */

.amenity-item{
    background: #F4F6F4;
    padding: 80px 0;
}

.amenities-text{
    font-weight: 700
}

/* Happy Stories */

.author{
    font-weight: 600;
    font-size: 22px;
}

.fa-star{
    color: goldenrod;
    font-size: 20px !important;
}

.proper-hover:hover{
    background: #000;
    opacity: 0.5;
}

.branding{
    font-size: 70px;
}

.price{
    font-size: 70px; font-weight: 700
}

.main-br{
    width:20%;
}

.hr1{
    margin: 40px 0;
}

.hr2{
    margin: 20px 0;
}

@media only screen and (max-width: 600px) {
    #main {
        padding: 450px 0 !important;
    }

    .head-desc{
        font-size: 15px;
    }

    .main-br{
        margin: 20px auto;
    }

    .branding{
        font-size: 25px;
    }

    .price{
        font-size: 55px;
    }

    .details {
        text-align: center;
    }
  }