/* navbar */
html, body{
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600 !important;
}

/* .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  } */

  .btn-success{
    background: #1BAE70 !important;
  }

a{
    color: #000
}
.navbar a{
    font-size: 18px;;
    text-decoration: none;
    color: #000;
}

a:hover{
    color: #1BAE70 !important
}

.heading-hr{
    border: 1px solid #000;
    width: 20%;
    opacity: 1;
    margin: 30px 0;
    background: #000
}

.list li {
    font-size: 18px;
}

#main{
    padding: 290px 0; 
}

.list hr{
    border: 1px solid #1BAE70;
    width: 40%;
    opacity: 1;
    background: #1BAE70
}

section{
    padding: 100px 0 0 0;
}

.contact-main{
    background: #F4F6F4;
}

.btn-success{
    color: #1BAE70;
}

.heading {
    color: #1BAE70
}

.heading-paragraph{
    padding: 0 20%;
    text-align: center
}

.highlight {
    color: #14261C
}

p{
    font-size: 18px;
}

.contact-form input{
    padding: 13px 8px;
    margin: 7px 0;
    font-size: 18px;
    border: 0.5px solid #dfdfdf;
}

/* Amenities Section */

.amenity-item{
    background: #F4F6F4;
    padding: 80px 0;
    height: 100%;
}

.amenities-text{
    margin: 0 20px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600
}

/* Happy Stories */

.author{
    font-weight: 600;
    font-size: 22px;
}

.fa-star{
    color: goldenrod;
    font-size: 20px !important;
}

.proper-hover:hover{
    background: #000;
    opacity: 0.5;
}

.branding{
    font-size: 65px;
    margin: 30px 0
}

.price{
    font-size: 70px; font-weight: 700
}

.main-br{
    width:20%;
}

.hr1{
    margin: 40px 0;
}

.hr2{
    margin: 20px 0;
}

@media only screen and (max-width: 600px) {
    .head-desc{
        font-size: 15px;
    }

    .amenity-item{
        padding: 40px 0;
    }

    .amenities-text{
        font-size: 18px;
        font-weight: 500;
    }

    .main-br{
        margin: 20px auto;
    }

    .branding{
        font-size: 25px !important;
        margin-bottom: 20px;
    }

    .price{
        font-size: 45px !important;
    }

    .details {
        text-align: center;
    }

    .heading {
        font-size: 35px;
    }

    .heading-hr{
        margin: 30px auto;
    }

    .know-more{
        text-align: center
    }

    .heading-paragraph{
        padding: 0 20px;
    }
    
    .review{
        text-align: center
    }

  }
@media only screen and (max-width: 991px) {
    #main {
        padding: 470px 0 !important;
    }

    .action-display{
        display: block;
    }

    .head-desc{
        font-size: 15px;
    }

    .main-br{
        margin: 20px auto;
    }

    .branding{
        font-size: 55px;
    }

    .price{
        font-size: 55px;
    }

    .details {
        text-align: center;
    }

    .heading-paragraph{
        padding: 0 20px;
    }

    .enquire-btn{
        display: none;
    }
    
  }

